<h2 class="w3-wide w3-center w3-padding-top-32">Generative AI (RAG) 🔥 Oracle Cloud</h2>
<h6 class="w3-wide w3-center color-y">Data Architecture for Artificial Intelligence</h6>
<div>
    <img src="/img/architecture.png" width="100%" alt="Data Architecture for Artificial Intelligence">
</div>
<div class="w3-padding w3-justify">
    En esta arquitectura se integran componentes de Oracle Cloud con inteligencia artificial para procesar y analizar documentos en múltiples formatos (DOC, XLS, PDF, JPG, RTF).
    Los documentos cargados en un Bucket desencadenan eventos que activan funciones serverless para procesarlos y almacenarlos en <a class="color-sb">OpenSearch</a>, facilitando la búsqueda eficiente.
    Utilizando <a class="color-y">Document Understanding</a> y <a class="color-g">Generative AI</a> con el modelo <a class="color-g">cohere.command-r-plus</a>, se analizan los documentos para extraer y actuar sobre la información contenida.
    Las solicitudes y el acceso a los datos se gestionan mediante un APIs, asegurando la disponibilidad y escalabilidad de las aplicaciones desplegadas en una <a class="color-o">Virtual Machine</a>.
    Este enfoque garantiza un procesamiento robusto y una recuperación avanzada de información. 
    <a class="color-r" Target="_blank" href="https://youtube.com/playlist?list=PLMUWTQHw13gbk738EGtr0fWwi40B81qEw&si=aHJHPmp_Ppr99tCO">[Read More (+)]</a>
</div>